body {
    font-size: 14px;
}

.text-black {
    color: #000 !important;
}

.text-black-header {
    color: $color-text-header-table
}

main {
    background-color: $background-main;
    color: $color-text-gray;
}

body, button, input, optgroup, select, textarea {
    font-family: "Sofia", sans-serif !important;
}

.sub-title {
    font-size: 20px;
}

.info-total {
    background-color: $background-gray;
    text-align: right;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.bg-gray {
    background-color: $background-gray;
}

.border-bottom {
    border-bottom: 1px solid $divisor !important;
}

.wrapper-client-info {
    .owner-info {
        font-size: 1.2rem;
    }
    .ruc-info {
        padding-left: 25%;
        padding-right: 25%;
        background-color: #fff;
        // .ruc, .serie {
        //     font-size: 1rem;
        // }
        .desc {
            font-size: 1.15rem;
        }
    }
}

.table-productos tbody .cont-input-cantidad {
    width: 110px;
}