$gray: #F0F0F0;
$gray-light: #FAFAFA;
$gray-strong: #707070;
$gray-strong-opa25:#70707040;


$color-text-gray: #646464;
$color-text-header-table: #222222;

$background-gray: $gray;
$background-gray-light: $gray-light;
$background-main: $gray-light;
$background-sidebar-red: #D31A2B;
$select-sidebar: #E51A2F;
$button-red: #D31A2B;
$divisor: $gray-strong-opa25;